

#body{
    background-color: #92ECF1;
    color:black;
    text-align: center;
    font-family: "Bodoni MT",Arial, Helvetica, sans-serif;
    padding: 1em;
    
}




@media screen and (max-width: 600px) {

    p{
     font-size: 9.5px;
    }
   
    a{
     font-size: 9.5px;
    }
   
}