#footer{
    color:black;
    text-align: center;
}

#body{
    background-color: #92ECF1;
}





@media screen and (max-width: 600px) {

    p{
        font-size: 9.5px;
    }
   
    
    a{
        font-size: 9.5px;
    }
   
  }