/* Resizing products */
.item img{
    margin:auto;
    height: 100px;
    width: 270px;
}

/* resizing employee pictures and placiing picture in middle */
.carousel-inner{
    height: 190px;
    width: 230px;
    margin:auto;
}



